{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- google material icons-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="{% url 'index' %}"><img style="width:150px;"
                                                              src="{% static 'Main/img/brand-logo.png' %}"></a>
    </div>
    <div style="display:flex; flex-direction:row; justify-content: space-between">
        <ul class="navbar-nav" style="margin:0 10px; display:flex; flex-direction:row; justify-content: space-between">
            <li style="margin-right:10px"><a class="navbar-brand" href="{% url 'company_info' %}">회사소개</a></li>
            <li style="margin-right:10px"><a class="navbar-brand" href="{% url 'item_list' %}">상품</a></li>
            <li style="margin-right:10px"><a class="navbar-brand" href="{% url 'contact_us' %}">문의</a></li>
        </ul>
        <ul class="navbar-nav" style="margin:0 30px; display:flex; flex-direction:row; justify-content: space-between">
            <li><a href="#"><span style="width:40px; font-size:30px; color:black;" class="material-symbols-outlined">shopping_cart</span></a>
            </li>
            <li><a href="{% url 'login' %}"><span style="width:30px; font-size:30px; color:black;" class="material-symbols-outlined">account_circle</span></a>
            </li>

        </ul>
    </div>
</nav>
<h1>contact us</h1>
</body>
</html>