{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'item_list.css' %}">


    <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">

        <div class="slidewrap">
            <ul style="padding-left:0" class="slidelist">
                <li>
                    <a>
                        <img src="{% static 'Main/img/slide01.jpg' %}">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{% static 'Main/img/slide02.jpg' %}">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{% static 'Main/img/slide03.jpg' %}">
                    </a>
                </li>
            </ul>

            <div class="slide-control">
                <div class="control01">
                    <label for="slide03" class="left"></label>
                    <label for="slide02" class="right"></label>
                </div>
                <div class="control02">
                    <label for="slide01" class="left"></label>
                    <label for="slide03" class="right"></label>
                </div>
                <div class="control03">
                    <label for="slide02" class="left"></label>
                    <label for="slide01" class="right"></label>
                </div>
            </div>
        </div>
    </div>
    {% include 'shop/item_list_component.html' %}

{% endblock %}
