{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="width:1220px; margin:auto; padding-top:40px;">
        <h3 class="card-title" style="">
            {{ item.prod_name }}</h3>
    </div>
    <div style="width:1220px; margin:auto; display:flex; flex-direction: row; justify-content: space-between; padding-top:10px;">
        <div style="background:pink; width:600px;"><img style="width:100%; height:100%"
                                                        src="{% static 'shop/600px_img.jpeg' %}"/></div>
        <div style="width: 600px;">
            <div class="card-body">
                <div style=" padding-top:5px;">
                    <h5 style="margin-top:5px;" class="card-subtitle mb-2 text-muted">{{ item.prod_category }}</h5>
                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="display:flex; flex-direction: row;">
                    <div style="width:150px; margin-left: 10px;">판매가</div>
                    <div>
                        <p id="quantity" class="card-text" style="margin-bottom:0.3rem;">
                            남은수량: {{ item.prod_quantity }}</p>
                        <h2 style="color: darkred;"><b id="price">{{ price }}원</b></h2>
                    </div>
                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="display:flex; flex-direction: row;">
                    <div style="width:150px; margin-left: 10px;">적립금</div>
                    <div>5,380원</div>
                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="display:flex; flex-direction: row;">
                    <div style="width:150px; margin-left: 10px;">카드혜택</div>
                    <div>무이자 할부</div>
                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="display:flex; flex-direction: row;">
                    <div style="width:150px; margin-left: 10px;">배송정보</div>
                    <div>기본배송</div>
                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="display:flex; flex-direction: row;">
                    <div style="width:150px; margin-left: 10px;">배송비</div>
                    <div>무료배송</div>
                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="display:flex; flex-direction: row;">
                    <div style="width:150px; margin-left: 10px;">수량</div>
                    <div style="display:flex; flex-direction: row;">
                        <div>
                            <button id="sub_btn" style="height:30px;" type="button" class="quantity_btn btn btn-dark">-
                            </button>
                            <button id="add_btn" style="height:30px;" type="button" class="quantity_btn btn btn-dark">+
                            </button>
                        </div>
                        <div style="margin-left:20px;">
                            <p id="count_num">1 개</p>
                        </div>

                    </div>

                </div>
                <hr style="border:0; height:0.5px;"/>
                <div style="text-align:right; padding-right:10px;">
                    <div>최종 구매가격</div>
                    <h2 style="color: darkred; margin-bottom:10px;"><b id="final_price">{{ price }}원</b></h2>

                    <button id="add_cart_btn" type="button" class="btn btn-dark">카트담기
                    </button>
                    <button id="buy_btn" type="button" class="btn btn-dark">구매하기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#add_cart_btn').click(function () {
            let prod_id = Number(document.location.href.split("/").at(-1));
            let count = Number($('#count_num').text().replace(" 개",""));

            $.ajax({
                url: '/shop/cart/',
                data:{
                    prod_id:prod_id,
                    count:count
                },
                method: 'POST',
                success: function (data) {
                console.log('카트에 추가되었습니다.');
            },
            error: function (request, status, error) {
                console.log('에러')
                {#location.replace("/user/login")#}
            },
            complete: function () {
                console.log('완료');
            }
            });
        })

        $(document).ready(function () {
            $(".quantity_btn").on("click", function (e) {
                var quantity = Number($('#quantity').text().replace("남은수량: ", ""));
                var count = Number($('#count_num').text().replace(" 개", ""));
                var price = Number($('#price').text().replace("원", "").replaceAll(",", ""));
                var final_price = Number($('#final_price').text().replace("원", "").replaceAll(",", ""));

                if (e.target.id === 'add_btn') {
                    count = count + 1;
                    if (count > quantity) {
                        count = quantity;
                    }
                } else if (e.target.id === 'sub_btn') {
                    count = count - 1;

                    if (count < 1) {
                        count = 1;
                    }
                }

                final_price = price * count;

                final_price = final_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                $('#count_num').text(count + ' 개');
                $('#final_price').text(final_price + '원');

            });
        })
    </script>
{% endblock %}