<div>
    <table style="margin-top:40px;" class="table">
        <thead>
        <tr>
            <th scope="col">순서</th>
            <th scope="col">상품명</th>
            <th scope="col">단가</th>
            <th scope="col">수량</th>
            <th scope="col">금액</th>
            <th scope="col">구매여부</th>
        </tr>
        </thead>
        <tbody>
        {% for cart_product in cart_products %}
            {% if cart_product.cart_status == 1 %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cart_product.product.prod_name }}</td>
                <td class="prod_price" id="price">{{ cart_product.product.prod_price }}</td>
                <td class="prod_quantity" id="quantity_{{ cart_product.product.id }}">{{ cart_product.product_quantity }}</td>
                <td class="final_price" id="final_price_{{ cart_product.product.id }}"></td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input order_check"  type="checkbox" value="{{ cart_product.product_quantity }}_{{ cart_product.id }}" id="{{ cart_product.product.id }}">
                        <label class="form-check-label" for="{{ cart_product.product.id }}">
                            추가
                        </label>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    window.onload = function () {
        item_length = $(".prod_price").length;

        for (var i = 0; i < item_length; i++) {
            final_price = Number($(".prod_price")[i].innerText) * Number($(".prod_quantity")[i].innerText);

            final_price = final_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $(".final_price")[i].innerText = final_price;
        }
    };
</script>