{% load static %}
<footer>
    <div style="width:1200px; margin:auto; display:flex; flex-direction:row; justify-content: space-between;">
        <h1><a>comento</a></h1>
        <div>
            <div class="footer-message">합리적인 분들과 좋은 컨텐츠가 지속될 수 있는 선순환 시스템을 지향합니다</div>
            <div class="footer-contact">대표이사: 나사장</div>
            <div class="footer-contact">서울시 강남구 논현동 123-1</div>
            <div class="footer-contact">gunkang@naver.com</div>
            <div class="footer-contact">사업자 등록번호: 000-00-0000</div>
            <div class="footer-contact">010-1111-1234</div>
            <div class="footer-copyright">Copyright 2023 All ⓒ rights reserved</div>
        </div>
        <div>
            <h5>365 고객센터</h5>
            <h3>1234-1234</h3>
            <h5>평일 오전 9시 ~ 오후 6시</h5>
            <div>서울시 강남구 논현동 123-1</div>
        </div>

        <div style="width:200px;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
    </div>
</footer>
