{% load static %}
<nav class="navbar navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="{% url 'index' %}"><img style="width:150px;" src="{% static 'Main/img/brand-logo.png' %}"></a>
    </div>
    <div style="display:flex; flex-direction:row; justify-content: space-between">
        <ul class="navbar-nav" style="margin:0 10px; display:flex; flex-direction:row; justify-content: space-between">
            <li style="margin-right:10px"><a class="navbar-brand" href="{% url 'company_info' %}">회사소개</a></li>
            <li style="margin-right:10px"><a class="navbar-brand" href="{% url 'item_list' %}">상품</a></li>
            <li style="margin-right:10px"><a class="navbar-brand" href="{% url 'contact_us' %}">문의</a></li>
        </ul>
        <ul class="navbar-nav" style="margin:0 30px; display:flex; flex-direction:row; justify-content: space-between">
            <li><a href="#"><span style="width:40px; font-size:30px; color:black;" class="material-symbols-outlined">shopping_cart</span></a>
            </li>
            <li><a href="{% url 'myPage' %}"><span style="width:30px; font-size:30px; color:black;" class="material-symbols-outlined">account_circle</span></a>
            </li>

        </ul>
    </div>
</nav>